
<header>
    <h1 class="title">Grill A Burger</h1>
    <img src="./assests/images/6.png">
</header>
<div class="main">
    <div class="eatUpDiv">
        <div id='notEaten'>
            <div id='notEatenNest'>
                <h3 class="notHead">Ready To Be Eaten</h3>
                {{#each burgers}}
                    {{#unless devoured}}
                        <p class="line"><span class="number" name='id'>{{id}}. </span> <span class="burgName">{{burger_name}}</span></p>
                        <button data-planid="{{id}}" class='delBur'>Eat</button>
                    {{/unless}}
                
                {{/each}}
            </div>
        </div>

        <div class='eaten'>
            <div class='eatenNest'>
                <h3 class="eatenHead">That Was Yummy!!!</h3>
                {{#each burgers}}
                    {{#if devoured}}
                        <p class="line"><span class="number">{{id}}. </span> <span class="burgName">{{burger_name}}</span></p>
                        <button data-planid="{{id}}" class='orderBur'>Grill Again</button>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="form">
        <form id = 'addBurger'>
            <input type='text' name='addBurg' class="txtArea">
            <button type="submit" class="grillBut">Grill Burger!</button>
        </form>
    </div>

    <footer>
        <img class="bottomimg" src="./assests/images/5.png">
    </footer>
  
</div>
