
<h1>Make A Burger</h1>

<div id='notEaten'>
    <h3>Ready To Eat</h3>
    {{#each burgers}}
        {{#unless devoured}}
            <p class="line"><span class="number" name='id'>{{id}}. </span> <span class="burgName">{{burger_name}}</span></p>
            <button data-planid="{{id}}" class='delBur'>Eat</button>
        {{/unless}}
     
    {{/each}}
</div>

<div class='eaten'>
    <h3>That Was Yummy!!!</h3>
    {{#each burgers}}
        {{#if devoured}}
            <p class="line"><span class="number">{{id}}. </span> <span class="burgName">{{burger_name}}</span></p>
            <button data-planid="{{id}}" class='orderBur'>Order Again</button>
        {{/if}}
    {{/each}}
</div>

<form id = 'addBurger'>
    <textarea type='text' name='addBurg'></textarea>
    <button type="submit">Order Burger!</button>
</form>

<script>
    $("#addBurger").on("submit", function(event) {
    event.preventDefault();

    var newBurger = {
      burger_name: $("#addBurger [name=addBurg]").val().trim()
    };
    console.log(newBurger)
    $.ajax("/", {
      method: "POST",
      data: newBurger
    }).then(
      function() {

        location.reload();
      }
    );
  });

   $(".delBur").on("click", function(event) {
    
    var id = $(this).data("planid")
    console.log(id)
    //console.log(newBurger)
    $.ajax("/" + id, {
      method: "PUT",

    }).then(
      function() {

        location.reload();
      }
    );
  });

  $(".orderBur").on("click", function(event) {
    
    var id = $(this).data("planid")
    console.log(id)
    //console.log(newBurger)
    $.ajax("/api/" + id, {
      method: "PUT",

    }).then(
      function() {

        location.reload();
      }
    );
  });
</script>